/* We can customize the theme CSS here */
pre {
    font-size: 23px
}
section p {
    font-size: 23px;
    color: #444
}
header h1 {
    color: #3e3e3e !important;
    border-bottom: 4px solid #e9ae12;
    font-size: 33px;
    margin-top: 5px;
    margin-bottom: 15px;
}
header h2 {
    color: #3e3e3e !important;
    border-bottom: 4px solid #e9ae12;
    font-size: 29px;
}
section h1 {
    color: #3e3e3e !important;
    font-size: 30px;
}
section h2 {
    color: #3e3e3e !important;
    font-size: 26px;
}

section h3 {
    color: #3e3e3e !important;
    font-size: 22px;
}

div.slide {
    margin-left: 30px !important;
    width:960px;
}

div.template1 pre {
    font-size: 15px;
}

div.tools section p{
    text-align: center;
    font-size: 55px;
}

.slide header:only-child h1 {
    border-bottom:none;
    background-position: center 190px;
    background-image: url(../../img/apsl.png);
    background-repeat: no-repeat;
}
div#help {
    z-index: 1000;
}

div.initial {
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(../../img/apsl_big.jpg);
    background-size: 50%;
}

div.initial h1 {
    text-align: center;
    margin-top:450px;
    padding-bottom: 20px;
}
div.initial p {
    text-align: center;
}

div.karma img {
    float: left;
}
div.karma p {
    text-align: center;
    font-size: 75px;
}